html,
body,
div,
span,
applet,
object,
iframe,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden;
}

html,
body {
    height: 100%;
    font-size: 12px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
    display: block;
}

.blockfix {
    display: block;
}

.clearfix {
    clear: both;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.iconfont {
    margin: 0 5px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ms-controller {
    visibility: hidden
}

.pageheader {
    height: 50px;
    background: #cd5c0a;
    text-align: center;
    font-size: 20px;
}

.pagefoot {
    height: 100px;
    background: #cd5c0a;
    text-align: center;
    font-size: 20px;
}

.bst-move {
    cursor: move;
}


/*模块选择面板*/

.bst-module-choice {
    position: fixed;
    width: 600px;
    height: 345px;
    top: 50%;
    left: 50%;
    padding: 10px;
    margin-left: -300px;
    margin-top: -172px;
    z-index: 1000;
    border-radius: 5px;
    overflow-y: auto;
    border: solid 1px #212e41;
    box-shadow: 0px 0px 9px #212e41;
    background-color: #fff;
}

.module-classification {
    float: left;
}

.module-classification h3 {
    color: #8C8A8A;
}

.module-classification ul {
    width: 100%;
    overflow: hidden;
}

.module-classification ul li {
    float: left;
    width: 100px;
    height: 100px;
    margin: 10px 10px 10px 5px;
    position: relative;
    cursor: pointer;
    border: 1px solid #2e2e2e;
}

.module-classification ul li:hover {
    border: 3px solid #21d376;
    opacity: .8;
}

.module-classification ul li img {
    width: 100%;
    height: 100%;
}

.module-classification ul li p {
    position: absolute;
    color: #fff;
    text-align: center;
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.72);
}

.classification-buttons {
    width: 100%;
    height: 35px;
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 30px;
}

.classification-buttons button {
    display: inline-block;
    width: 100px;
    height: 35px;
    border: 1px solid #ccc;
    margin: 15px;
    cursor: pointer;
    color: #fff;
}

.classification-buttons button.close {
    background-color: #ff595f;
}

.classification-buttons button.sure {
    background-color: #21d376;
}


/*模块选择面板*/


/*右侧主视图区域*/

.bst-mian-contnet {
    width: 100%;
    padding: 37px 0 10px 0;
    z-index: 997;
    position: relative;
}

.bst-mian-contnet-pv {
    width: 100%;
}

.bst-main-view {
    width: 100%;
    min-width: 1400px;
    padding-left: 51px;
    height: 100%;
    position: relative;
}

.bst-main-view-pv {
    width: 100%;
}

.bst-main-width {
    box-sizing: inherit;
    margin: 0 auto;
    min-height: 100%;
}


/*右侧主视图区域*/


/*模块设置面板*/

.bst-settings {
    position: fixed;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    margin-left: -450px;
    margin-top: -250px;
    z-index: 1000;
    border-radius: 5px;
    border: solid 1px #212e41;
    box-shadow: 0 0 9px #212e41;
    background-color: #f9f8f7;
    /*    display: none;*/
}

.settings-header {
    width: 100%;
    height: 32px;
    padding: 0 10px;
    color: #fff;
    line-height: 32px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: url(../../src/assets/src/assets/images/settings-headerbg.jpg) repeat-x 0 0;
    overflow: hidden;
    font-size: 14px;
}

.settings-header i {
    font-size: 14px;
}

.settings-close {
    float: right;
    cursor: pointer;
}

.settings-show {
    display: block;
}

.settings-hide {
    display: none;
}

.settings-content {
    width: 100%;
    height: 458px;
    padding: 0 0 10px 0;
    overflow-x: hidden;
}

.settings-footer {
    width: 100%;
    height: 42px;
    border-top: 1px solid #ccc;
    color: #fff;
    line-height: 42px;
}

.settings-btn {
    display: inline-block;
    width: 100px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    float: right;
    cursor: pointer;
}

.settings-btn-save {
    background-color: #21d376;
}

.settings-btn-cancel {
    background-color: #ff595f;
}


/*模块设置面板*/


/*等待接收自模块*/

.bst-reception-wait {
    border: 2px dashed #ddd;
}


/*拖动模块放置停留在通栏样式*/

.bst-reception-hover {
    background-color: rgba(32, 160, 255, 0.39)!important;
}


/*通栏模块样式*/

.bst-banner-content {
    background-color: #fff;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.bst-banner-content * {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

.bst-banner-content:hover .drag-setting {
    display: block;
}

.banner-content-inside {
    margin: 0 auto;
    border-left: 1px dashed #000;
    border-right: 1px dashed #000;
    position: relative;
}

.banner-content-inside-pv {
    margin: 0 auto;
    position: relative;
}


/*页面蒙板*/

.bst-mask {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #000;
    opacity: .5;
    filter: alpha(opacity=50);
    -moz-opacity: .5;
    -khtml-opacity: .5;
    z-index: 999;
}


/*页面蒙板*/


/*图片上传面板*/

.bst-img-upload {
    position: fixed;
    width: 800px;
    left: 50%;
    top: 50%;
    margin-left: -400px;
    margin-top: -310px;
    z-index: 1001;
    border-radius: 5px;
    overflow: hidden;
    border: solid 1px #212e41;
    box-shadow: 0px 0px 9px #212e41;
    background-color: #fff;
    display: none;
    text-align: center;
}

#img_upload {
    width: 100%;
    height: 580px;
}

.bst-imgupload-btn {
    display: inline-block;
    float: right;
    width: 100px;
    height: 30px;
    margin-left: 10px;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 1;
    font-size: 14px;
    color: #888;
    background: #fff;
    cursor: pointer;
    border-radius: 12px;
}

.img_upload_yes {
    color: #FF7B78;
    border: 1px solid #FF7B78;
}

.img_upload_yes:hover {
    background-color: #FF7B78;
    color: #fff;
}

.img_upload_no:hover {
    color: #fff;
    background: #888;
}


/*标尺*/

.wqdruleos {
    display: none;
}

.rg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden
}

.guide {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    font-size: 0
}

.guide.v {
    width: 1px;
    height: 7000px;
    border-right: dashed 1px #1d8ce0;
    cursor: col-resize
}

.guide.h {
    width: 3000px;
    height: 1px;
    border-bottom: dashed 1px #1d8ce0;
    cursor: row-resize
}

.guide .info {
    width: 50px;
    height: 25px;
    display: block;
    line-height: 25px;
    text-align: center;
    position: relative;
    font-size: 12px;
    background: #1d8ce0;
    color: #fff
}

.guide.v .info {
    left: 6px
}

.guide.h .info {
    top: 6px
}

.menu-btn.unselectable {
    visibility: hidden;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.ruler {
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999
}

.ruler .label {
    font: 12px Arial;
    color: #000
}

.ruler,
.ruler span {
    font-size: 0
}

.ruler.h {
    position: fixed;
    top: 37px;
    width: 3000px;
    left: 0px;
    border-bottom: solid 1px #ccc;
    z-index: 1000;
}

.ruler.v {
    background: #fff url(../images/ruler_h.png) no-repeat 0 0;
    box-sizing: content-box;
    width: 20px;
    height: 20050px;
    top: 36px;
    left: 51px;
    z-index: 1000;
}

.ruler.h span {
    box-sizing: content-box;
    border-left: solid 1px #999;
    height: 9px;
    width: 1px;
    vertical-align: bottom;
    display: inline-block;
    *display: inline;
    zoom: 1
}

.ruler.v span {
    box-sizing: content-box;
    display: block;
    margin-left: auto;
    margin-right: 0;
    border-top: solid 1px #999;
    width: 9px;
    height: 1px
}

.ruler.v span.major {
    border-top: solid 1px #000;
    width: 13px
}

.ruler.v span.milestone {
    position: relative;
    border-top: solid 1px #000;
    width: 17px
}

.ruler.v span.label {
    border: 0;
    font-size: 9px;
    position: absolute;
    text-align: center;
    width: 9px
}

.ruler.h span.major {
    border-left: solid 1px #ccc;
    height: 5px;
    width: 9px;
}

.ruler.h span.milestone {
    position: relative;
    border-left: solid 1px #ccc;
    height: 19px;
    width: 9px;
}

.ruler.h span.label {
    border: 0;
    font-size: 9px;
    position: absolute;
    text-align: center;
    top: 1px;
    left: 2px;
    width: 9px;
    color: #666;
}

.ruler.h .l10 {
    left: -5px
}

.ruler.h .l100 {
    left: -5px
}

.ruler.h .l1000 {
    left: -5px
}

.ruler.v .l10,
.ruler.v .l100,
.ruler.v .l1000 {
    top: -7px
}

.ruler.v .l10 {
    left: -12px
}

.ruler.v .l100 {
    left: -17px
}

.ruler.v .l1000 {
    left: -23px
}

.menu-btn {
    position: fixed;
    left: 3px;
    top: 2px;
    line-height: 9px;
    z-index: 998;
    width: 20px;
    height: 20px;
    background-color: red;
    opacity: .5;
    font-size: 20px;
    text-align: left;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    border-radius: 2px
}

.rg-menu {
    position: fixed;
    top: 22px;
    left: 3px;
    padding: 0;
    margin: 0;
    list-style: none;
    display: none;
    font: 13px Arial;
    z-index: 999;
    box-shadow: 2px 2px 10px #ccc
}

.rg-menu li {
    text-align: left;
    border-bottom: solid 1px #999;
    padding: 0
}

.rg-menu a {
    background-color: #777;
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #fff;
    line-height: 18px
}

.rg-menu a:hover,
.rg-menu a.selected {
    color: #fff;
    background-color: #3b94ec
}

.rg-menu a.disabled {
    color: #ccc
}

.rg-menu .desc {
    display: inline-block;
    width: 170px
}

.dialog {
    position: fixed;
    background-color: #777;
    z-index: 999;
    color: #fff;
    font-size: 13px;
    display: none;
    box-shadow: 2px 2px 10px #ccc
}

.dialog button {
    border: 0;
    color: #333;
    cursor: pointer;
    background-color: #eaeaea;
    background-image: linear-gradient(#fafafa, #eaeaea);
    background-repeat: repeat-x;
    border-radius: 3px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .9)
}

.dialog input,
.dialog select,
.dialog button {
    font-size: 13px;
    margin: 3px;
    padding: 3px
}

.dialog .title-bar {
    padding: 5px;
    background-color: #aaa;
    font-weight: 700
}

.dialog .wrapper {
    padding: 10px
}

.open-dialog select,
.open-dialog button {
    float: left;
    display: block
}

.open-dialog .ok-btn,
.open-dialog .cancel-btn {
    margin: 10px 3px
}

.open-dialog .ok-btn {
    clear: both
}

.snap-dialog label {
    font-weight: 700;
    padding: 3px
}

.snap-dialog .ok-btn {
    margin-left: 18px
}

.snap-dialog .ok-btn,
.snap-dialog .cancel-btn {
    margin-top: 10px
}

.snap-dialog .rg-y-label {
    margin-left: 10px
}

#rg-x-snap,
#rg-y-snap {
    width: 50px
}

.info-block-wrapper {
    position: absolute;
    z-index: 989
}

.info-block {
    position: absolute;
    text-align: left
}

.info-block.even {
    background: 0 0;
    background-color: rgba(0, 0, 255, .2);
    -ms-filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#330000FF, endColorstr=#330000FF);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#330000FF, endColorstr=#330000FF);
    zoom: 1
}

.info-block.odd {
    background: 0 0;
    background-color: rgba(255, 0, 0, .2);
    -ms-filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#33FF0000, endColorstr=#33FF0000);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#33FF0000, endColorstr=#33FF0000);
    zoom: 1
}

.info-block-txt {
    padding: 5px;
    display: inline-block;
    vertical-align: top;
    background-color: #777;
    color: #fff;
    font-size: 13px;
    *display: inline;
    zoom: 1
}


/*标尺*/


/*富文本编辑器*/

.ck-editor {
    position: absolute;
}


/*富文本编辑器*/


/*智能菜单*/

.smart_menu_box {
    display: none;
    width: 140px;
    position: absolute;
    z-index: 201105;
}

.smart_menu_body {
    padding: 1px;
    border: 1px solid #B8CBCB;
    background-color: #fff;
    -moz-box-shadow: 2px 2px 5px #666;
    -webkit-box-shadow: 2px 2px 5px #666;
    box-shadow: 2px 2px 5px #666;
}

.smart_menu_ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.smart_menu_li {
    position: relative;
}

.smart_menu_a {
    display: block;
    height: 25px;
    line-height: 24px;
    padding: 0 5px 0 25px;
    color: #000;
    font-size: 12px;
    text-decoration: none;
    overflow: hidden;
}

.smart_menu_a:hover,
.smart_menu_a_hover {
    background-color: #348CCC;
    color: #fff;
    text-decoration: none;
}

.smart_menu_li_separate {
    line-height: 0;
    margin: 3px;
    border-bottom: 1px solid #B8CBCB;
    font-size: 0;
}

.smart_menu_triangle {
    width: 0;
    height: 0;
    border: 5px dashed transparent;
    border-left: 5px solid #666;
    overflow: hidden;
    position: absolute;
    top: 7px;
    right: 5px;
}

.smart_menu_a:hover .smart_menu_triangle,
.smart_menu_a_hover .smart_menu_triangle {
    border-left-color: #fff;
}

.smart_menu_li_hover .smart_menu_box {
    top: -1px;
    left: 130px;
}


/*智能菜单*/


/* 通栏选中样式 */

.ui-resizable-s .knob {
    background-image: url("../images/wp-moudle-adjust-handle.png");
    background-repeat: no-repeat;
    height: 9px;
    left: 50%;
    margin-left: -4px;
    position: absolute;
    top: -2px;
    width: 9px;
}

.ui-resizable-n .knob {
    background-image: url("../images/wp-moudle-adjust-handle.png");
    background-repeat: no-repeat;
    height: 9px;
    left: 50%;
    margin-left: -4px;
    position: absolute;
    top: -5px;
    width: 9px;
}


/* 通栏选中样式 */

.ui-resizable-e .knob {
    background-image: url("../images/wp-moudle-adjust-handle.png");
    background-repeat: no-repeat;
    height: 9px;
    left: -2px;
    margin-top: -4px;
    position: absolute;
    top: 50%;
    width: 9px;
}

.ui-resizable-w .knob {
    background-image: url("../images/wp-moudle-adjust-handle.png");
    background-repeat: no-repeat;
    height: 9px;
    left: -5px;
    margin-top: -4px;
    position: absolute;
    top: 50%;
    width: 9px;
}

.ui-resizable-nw .knob {
    background-image: url("../images/wp-moudle-adjust-handle.png");
    background-repeat: no-repeat;
    height: 9px;
    left: 0;
    position: absolute;
    top: 0;
    width: 9px;
}

.ui-resizable-sw .knob {
    background-image: url("../images/wp-moudle-adjust-handle.png");
    background-repeat: no-repeat;
    bottom: 0;
    height: 9px;
    left: 1px;
    position: absolute;
    width: 9px;
}

.ui-resizable-se .knob {
    background-image: url("../images/wp-moudle-adjust-handle.png");
    background-repeat: no-repeat;
    bottom: 0;
    height: 9px;
    position: absolute;
    right: 0;
    width: 9px;
}

.ui-resizable-ne .knob {
    background-image: url("../images/wp-moudle-adjust-handle.png");
    background-repeat: no-repeat;
    height: 9px;
    position: absolute;
    right: -1px;
    top: 0;
    width: 9px;
}


/*拖动对齐线条*/

.guide-line {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
}

.guide-h {
    border-top: 1px solid #ffa45b;
    width: 100%;
}

.guide-v {
    border-left: 1px solid #ffa45b;
    height: 100%;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.fl {
    float: left;
    position: relative;
}

.fr {
    float: right
}

#app {
    height: 100%;
}


/*顶部公共栏*/

.bst-header li {
    cursor: pointer
}

.bst-logo {
    padding: 8px 20px 8px 10px;
}

.bst-administrations {
    background: url(../images/administrationslibg.png) repeat-y left;
    padding: 0 5px;
}

.bst-administrations ul li {
    padding: 0 10px;
    float: left;
}

.bst-gadgets ul {
    background: url(../images/administrationslibg.png) repeat-y left;
    padding: 0 20px;
}

.bst-gadgets ul li {
    float: left;
    margin: 0 10px;
}

.bst-gadgets ul.left-bar {
    padding: 0 12px;
    line-height: 36px;
}

.bst-gadgets ul.left-bar li {
    margin: 0
}

.bst-gadgets ul.left-bar li i {
    padding: 5px;
}

.bst-gadgets ul.left-bar li:hover i {
    background: #295887;
    border-radius: 5px;
}

.bst-gadgets ul li i.icon-biaochi {
    margin: 0 10px 0 10px;
    font-size: 18px;
}

.bst-gadgets ul li i.selected {
    background: #295887;
    border-radius: 5px;
}

.bst-gadgets ul.bst-watchs li {
    font-size: 10px;
}

.bst-gadgets ul.bst-watchs li input.top-ruler {
    width: 40px;
    height: 18px;
    border: none;
    margin: 0 2px;
    color: #333;
    line-height: 18px;
    font-size: 11px;
    background: #fff;
    border-radius: 2px;
    text-indent: 3px;
    box-shadow: 0 0 2px #333 inset;
}

.bst-header-right {}

.bst-header-right ul li {
    float: left;
    padding: 0 15px;
    background: url(../images/administrationslibg.png) repeat-y left;
}

.bst-header-right ul li:hover {
    background: #295887;
    box-shadow: -2px -2px 2px #21476d inset
}

.bst-header-right ul li.selected {
    background: #295887;
    box-shadow: -2px -2px 2px #21476d inset
}

.be-opcity {
    opacity: 0.2!important;
}


/*分页*/


/*页面管理面板*/

.page-views-content ul li .page-edit {
    width: 45px;
    height: 17px;
    background: #fff;
    border: solid 1px #c0ccda!important;
    border-radius: 3px;
    text-align: center;
    line-height: 17px;
    position: absolute;
    right: 10px;
    top: 7px;
    display: none;
}

.page-views-content ul li:hover .page-edit {
    background: #f1f3f2;
    border-bottom: none;
}

.page-views-content ul li:hover .page-edit {
    display: block;
}

.page-views-content ul li.active:hover .page-edit {
    display: none;
}

.page-views-content ul li.active {
    background: #42aeff;
    color: #fff;
}

.page-views-content ul li.active a {
    color: #fff;
}

.page-views-content ul li.active .page-set {
    display: block;
}


/*页面管理面板*/


/*topbar*/

.bst-header .fl-bar {
    background: url(../images/topbarline.jpg) repeat-y;
    padding-left: 2px;
}

.add-page-button {
    margin-left: 15px;
    margin-right: 30px;
}

.bst-header .fl-bar a {
    display: inline-block;
    padding: 0 10px;
    cursor: pointer
}

.bst-header .fl-bar a:hover ,.bst-header .fl-bar a.active{
    background: #0d74c2;
}


/*topbar*/


/*通栏设置按钮*/

.banner-content-set {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px;
    color: #ffffff;
    font-size: 12px;
    z-index: 1000;
    display: none;
}

.banner-content-set ul li {
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    padding: 0 3px;
}

.banner-content-set ul li span {
    width: 14px;
    height: 14px;
    float: left;
    margin: 3px 2px 0 0;
}

.banner-content-set ul li span.setIcon {
    background: url(../images/bannerSetIcon.png);
}

.banner-content-set ul li span.setpublicIcon {
    background: url(../images/bannerSetIcon.png) 0 -20px;
}

.banner-content-set ul li span.setTotopIcon {
    background: url(../images/bannerSetIcon.png) 0 -39px;
}

.banner-content-set ul li span.setToButtomIcon {
    background: url(../images/bannerSetIcon.png) 0 -59px;
    ;
}

.banner-content-set ul li span.copyIcon {
    background: url(../images/bannerSetIcon.png) 0 -80px;
}

.banner-content-set ul li span.delIcon {
    background: url(../images/bannerSetIcon.png) no-repeat 0 -99px;
}

.bst-banner-content:hover .banner-content-set {
    display: block;
}

.bst-banner-content .smallP ul li {
    float: left;
}


/*普通通栏*/

.ordinary-banner .banner-content-set {
    background: #27a0fd;
}

.ordinary-banner .banner-content-set ul li:hover {
    background: #1c7cc6;
}


/*系统通栏*/

.system-banner .banner-content-set {
    background: #96c72e;
}

.system-banner .banner-content-set ul li:hover {
    background: #698b22;
}


/*公共通栏*/

.public-banner .banner-content-set {
    background: #fcb161;
}

.public-banner .banner-content-set ul li:hover {
    background: #c67e32;
}


/*通栏设置按钮*/


/*通栏模板*/

.templateDialog .el-dialog_header {
    line-height: 46px !important;
    border-bottom: solid 1px #d7d8ea !important;
}

.templateDialog .el-dialog__title {
    color: #20a0ff;
}

.templateBox {
    margin: 0 auto;
}

.cates {
    font-size: 14px;
    color: #424d58;
    font-weight: bold;
}

.cates dt {
    float: left;
    line-height: 35px;
    width: 74px;
}

.cates dd {
    margin-left: 74px;
}

.cates dd span {
    display: inline-block;
    padding: 0 8px;
    line-height: 28px;
    margin: 5px 10px;
    cursor: pointer;
}

.cates dd span.active,
.cates dd span:hover {
    background: #32baf6;
    color: #FFF;
    border-radius: 5px;
}


/*通栏模板*/


/*通栏管理*/

.bannerManage {
    /*width: 700px;*/
    margin: 0 auto;
}

.frozen {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: progid: DXImageTransform.Microsoft.BasicImage(grayscale=1);
}